%button-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: rgba(var(--center-channel-color-rgb), 0.64);
  margin: 0 4px;

  &.button-controls--wide {
    width: auto;
    padding: 0 6px;
  }
}

.button-controls {
  @extend %button-controls;

  &:hover {
    background: rgba(var(--center-channel-color-rgb), 0.12);
  }

  svg {
    fill: var(--center-channel-color);
  }
}

.button-controls-disabled {
  @extend %button-controls;

  svg {
    color: rgba(var(--center-channel-color-rgb), 0.34);
  }
}
