@keyframes callsKeyframesPulsing {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

#calls-expanded-view {
    .callStatusTimerCallingText {
        font-weight: 600;
    }

    .pulsingAnimation {
        animation: callsKeyframesPulsing 1.6s ease-in-out infinite;
    }
}
