name: ci
on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:

permissions:
  contents: read

jobs:
  plugin-ci:
    uses: mattermost/actions-workflows/.github/workflows/plugin-ci.yml@main
    with:
      golangci-lint-version: "v1.54.2"
      golang-version: "1.21"
    secrets: inherit
  lt:
    runs-on: ubuntu-latest
    with:
      golangci-lint-version: "v1.54.2"
      golang-version: "1.21"
    steps:
      - name: Checkout repo
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          fetch-depth: 0
      - name: Install system dependencies
        shell: bash
        run: |
          apt-get update && apt-get install --no-install-recommends -y libopus-dev
      - name: Install golangci-lint
        shell: bash
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin ${{ inputs.golangci-lint-version }}
      - name: Setup Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: ${{ inputs.golang-version }}
      - name: Run linter
        shell: bash
        run: golangci-lint run ./lt/...
